/* Color Palette */
$primary-color: #e64c65;
$primary-color-accent: #cc324b;
$secondary-color: #11a8ab;
$secondary-color-accent: #0F9295;

$button-font-color: #fff;
$primary-font-color: #333;
$secondary-font-color: #999;

/* Sidepanel Variables */
$sidepanel-divider-color: #eee;
