.infoWindow {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  p {
    margin: 0px;
  }
}

.infoImageWindow {
  max-width: 400px;
}

.infoImageWindow .image {
  margin-top: 5px;
  max-width: 100%;
  max-height: 100%;
}

// Remove delete icon on infoWindow
.gm-style .gm-style-iw ~ div {
  display: none;
}
