$primary-color-dark:   #689F38;
$primary-color:        #8BC34A;
$primary-color-light:  #DCEDC8;
$accent-color:         #F34336;
$button-text-color:    #fff;
$primary-text-color:   #333;
$secondary-text-color: #999;
$divider-color:        #EEE;
