@import 'palette';

.sidepanel-control{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  color: $button-text-color;
  border-width: 0px;

  background: $primary-color;
  padding: 17px 30px;
}
.button {
  padding: 10px;
  margin: 10px auto;

  font-size: 16px;
  text-align: center;

  background: $primary-color-dark;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.button:hover {
  text-decoration: none;
  background: $accent-color;
}
