@import 'variables';

.sidepanel-control{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  color: $button-font-color;
  border-width: 0px;

  background: $primary-color;
  padding: 20px 25px;
}
.button {
  padding: 10px;
  margin: 10px auto;

  font-size: 16px;
  text-align: center;

  background: $primary-color-accent;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.button:hover {
  text-decoration: none;
  background: $secondary-color-accent;
}
