@import 'palette';
@import 'variables';

#logo {
  background-color: $primary-color;
  img {
    margin: $logo-margin;
    height: $logo-img-height;
  }
}

.list {
  border-top: 1px solid $divider-color;
  height: -webkit-calc(100vh - #{$sidepanel-btnContainer-height} - #{$logo-height});
  height: -moz-calc(100vh - #{$sidepanel-btnContainer-height} - #{$logo-height});
  height: calc(100vh - #{$sidepanel-btnContainer-height} - #{$logo-height});
  overflow-y: auto;
}

.list-message {
  height: inherit;
  padding: 0px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $secondary-text-color;

  i {
    font-size: $sidepanel-list-message-iconSize;
    margin: $sidepanel-list-message-iconMargin;
  }
  span {
    font-size: $sidepanel-list-message-fontSize;
    margin-bottom: $sidepanel-list-message-marginBottom;
    text-align: center;
  }
}

.list-item {
  border-bottom: 1px solid $divider-color;
}
.list-item:last-child {
  border-border: none;
}

.list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  padding: 10px 10px 10px 2.5px;
  border-left: 7.5px solid transparent;
}
.list-item-container:hover{
  border-left: 7.5px solid $primary-color;
}

.list-item-icon {
  width: $sidepanel-list-icon-width;
  margin: $sidepanel-list-icon-margin;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-item-description {
  width: 320px;
  .content {
    color: $primary-text-color;
    font-size: $sidepanel-list-description-fontSize;
  }
  .time {
    color: $secondary-text-color;
    font-weight: 400;
    font-size: $sidepanel-list-timestamp-fontSize;
    margin: 5px 0px 0px 0px;
  }
}
