@import 'palette';
@import 'variables';

.sidepanel-btn-container{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  color: $button-text-color;
  background: $primary-color;

  height: $sidepanel-btnContainer-content-height;
  border-width: 0px;
  padding:  $sidepanel-btnContainer-paddingTop $sidepanel-marginLeft $sidepanel-btnContainer-paddingBottom $sidepanel-marginLeft;

  .label {
    font-size: $sidepanel-btnContainer-label-fontSize;
  }

  .btn {
    padding: $sidepanel-btnContainer-padding;
    margin: $sidepanel-btnContainer-margin;

    font-size: $sidepanel-btnContainer-btn-fontSize;
    text-align: center;
    cursor: pointer;

    color: $button-text-color;
    background: $primary-color-dark;
    -webkit-transition: background .3s;
    transition: background .3s;
  }

  .btn:hover {
    text-decoration: none;
    background: $accent-color;
  }
}
