@import 'palette';

.list {
  border-top: 1px solid $divider-color;
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.list-message {
  height: inherit;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: $secondary-text-color;

  i {
    font-size: 50px;
    margin: 10px;
  }
  span {
    margin-bottom: 10px;
    text-align: center;
  }
}

.list-item {
  border-bottom: 1px solid $divider-color;
}
.list-item:last-child {
  border-border: none;
}

.list-item-container {
  display: flex; /* establish flex container */
  flex-direction: row; /* make main axis horizontal */
  justify-content: flex-start; /* flush items to the left */
  align-items: center; /* center items vertically */

  padding: 10px 10px 10px 2.5px;
  border-left: 7.5px solid transparent;
}
.list-item-container:hover{
  border-left: 7.5px solid $primary-color;
}

.list-item-icon {
  width: 40px;
  margin: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-item-description {
  width: 320px;
  .content {
    color: $primary-text-color;
    font-size: 16px;
  }
  .time {
    color: $secondary-text-color;
    font-weight: 300;
    font-size: 12.5px;
    margin: 5px 0px 0px 0px;
  }
}
