@import 'palette';

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: left;
  margin: 0px;
  overflow: hidden;
}
#map {
  z-index: 0;
  height: 100vh;
  width: calc(100vw - 400px);
  margin-left: 400px;
}
#sidepanel {
  display: block;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 400px;
  overflow: hidden;
  border-radius: 0px !important;
  background-color: #ffffff;
}
.sidepanel-shadow{
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
