@import 'palette';

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  float: left;
  margin: 0px;
  overflow: hidden;
}
#map {
  z-index: 0;
  height: 100vh;
  width: 100vw;
}
#sidepanel {
  display: block;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 400px;
  overflow: hidden;
  border-radius: 0px !important;
  background-color: #ffffff;
}
.sidepanel-shadow{
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.c-scrim {
  z-index: 20;
}
.c-datepicker {
  z-index: 20;
}
