<!DOCTYPE html>
<html>
<head>
  <title>TrailSec Web UI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" sizes="512x512" href="./images/icon-512x512.png">
  <link rel="icon" type="image/png" sizes="384x384" href="./images/icon-384x384.png">
  <link rel="icon" type="image/png" sizes="192x192" href="./images/icon-192x192.png">
  <link rel="icon" type="image/png" sizes="152x152" href="./images/icon-152x152.png">
  <link rel="icon" type="image/png" sizes="144x144" href="./images/icon-144x144.png">
  <link rel="icon" type="image/png" sizes="128x128" href="./images/icon-128x128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./images/icon-96x96.png">
  <link rel="icon" type="image/png" sizes="72x72" href="./images/icon-72x72.png">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="./style.min.css">
</head>

<body id="app" class="main-container">
  <div id="sidepanel" class="block sidepanel-shadow">
    <div id="logo">
      <img src="./images/logo.png">
    </div>
    <div class="sidepanel-btn-container">
      <div>
        <div>FROM</div>
        <div id="fromDatetimeBtn" class="btn"
              @mouseover="fromDatetimeBtnText='CLICK TO EDIT'"
              @mouseleave="fromDatetimeBtnText=currentFromDatetime">{{ fromDatetimeBtnText }}</div>
      </div>
      <div>
        <div>TO</div>
        <div id="toDatetimeBtn" class="btn"
              @mouseover="toDatetimeBtnText='CLICK TO EDIT'"
              @mouseleave="toDatetimeBtnText=currentToDatetime">{{ toDatetimeBtnText }}</div>
      </div>
    </div>
    <div class="list" v-if="userSettings.maxTime <= userSettings.minTime && filteredCheckInData.length == 0">
      <div class="list-message">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <span>Invalid Date & Time Range</span>
        <span>Please check if you the time set in the "FROM" field does not exceed the "TO" field</span>
      </div>
    </div>
    <div class="list" v-else-if="filteredCheckInData.length == 0">
      <div class="list-message">
        <i class="fa fa-street-view" aria-hidden="true"></i>
        <span>No one has checked in at this point of time</span>
      </div>
    </div>
    <div class="list" v-else>
      <div v-for="dataEntry in filteredCheckInData" class="list-item">
        <div class="list-item-container" v-on:click="centerMapTo(dataEntry.lat, dataEntry.lng)">
          <div class="list-item-icon">
            <marker-icon :colorpri="dataEntry.markerColor.pri" :colorsec="dataEntry.markerColor.sec"></marker-icon>
          </div>
          <div class="list-item-description">
            <span class="content">{{ dataEntry.content }}</span>
            <div class="time">{{ dataEntry.time }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="map"></div>
  <script type="text/javascript" src="https://ripjar.github.io/material-datetime-picker/picker/js/datepicker.standalone.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
  <script type="text/javascript" src="./app.min.js"></script>
</body>
</html>
